:root{
  --main : hsl(210, 10%, 33%);
  --mainHover : hsl(201, 11%, 66%);
  --button : hsl(171, 66%, 44%);
  --secButton : hsl(233, 100%, 69%);
}

body{
  font-family: 'Bai Jamjuree', sans-serif;
  color: var(--main);
  overflow-x: hidden;
  text-align: center;
}

a{
  text-decoration: none;
  color: var(--main);
  transition: all 0.3s;
}
a:hover{
  color: var(--mainHover)
}

.Container{
  max-width: 50%;
  margin: auto;
}
.bContainer{
  width: 55%;
}

@media (max-width : 800px){
  .Container{
    max-width: 80%;
  }
}


.hero-img {
  background-image: url(/images/bg-header-desktop.png);
  height: 300px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.button{
  background: var(--button);
  border: none;
  border-radius: 10rem;
  transition: all 0.3s;
}

.secButton{
  background: var(--secButton);
  border: none;
  border-radius: 10rem;
  transition: all 0.3s ;
}

.pc-img{
  width: 95%;
  object-fit: contain;
}

@media (min-width : 766px){
  .pc-img{
    transform: translateX(-10%);
    width: 50%;
  }
}

@media (max-width : 991px){
  .mt-dlg-2{
    margin-top: 2rem;
  }
}

.button:hover{
  background: var(--button);
  box-shadow: 1px 0px 5px var(--button);
}

.secButton:hover{
  background: var(--secButton);
  box-shadow: 1px 0px 5px var(--secButton);
}

.mb-10{
  margin-bottom: 6rem;
}
.mt-10{
  margin-top: 6rem;
}
.mt-15{
  margin-top: 9rem;
}
.mt-20{
  margin-top: 12rem;
}
.light-p{
  color: var(--mainHover);
}
.iconSize{
  font-size: 3.5rem;
}
.imgContain{
  object-fit: contain;
}
@media(max-width : 575px){
  .footerLogo{
    width: 15%;
  }
}